Proyecto_BLL/Service References/svc_specialticket/BD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60194/BD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60194/BD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60194/BD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBD_ListarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatos" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarDatosZona_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosZona" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarDatosZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_Insertar_Usuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Usuarios" />
  </wsdl:message>
  <wsdl:message name="IBD_Insertar_Usuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_UsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_InicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesion" />
  </wsdl:message>
  <wsdl:message name="IBD_InicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_Modificar_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Usuario" />
  </wsdl:message>
  <wsdl:message name="IBD_Modificar_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_FILTRARDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:FILTRARDatos" />
  </wsdl:message>
  <wsdl:message name="IBD_FILTRARDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FILTRARDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_ConectarBD_InputMessage">
    <wsdl:part name="parameters" element="tns:ConectarBD" />
  </wsdl:message>
  <wsdl:message name="IBD_ConectarBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConectarBDResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_SUMAR_InputMessage">
    <wsdl:part name="parameters" element="tns:SUMAR" />
  </wsdl:message>
  <wsdl:message name="IBD_SUMAR_OutputMessage">
    <wsdl:part name="parameters" element="tns:SUMARResponse" />
  </wsdl:message>
  <wsdl:portType name="IBD">
    <wsdl:operation name="ListarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/ListarDatos" message="tns:IBD_ListarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/ListarDatosResponse" message="tns:IBD_ListarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDatosZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/ListarDatosZona" message="tns:IBD_ListarDatosZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/ListarDatosZonaResponse" message="tns:IBD_ListarDatosZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Usuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/Insertar_Usuarios" message="tns:IBD_Insertar_Usuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/Insertar_UsuariosResponse" message="tns:IBD_Insertar_Usuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/InicioSesion" message="tns:IBD_InicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/InicioSesionResponse" message="tns:IBD_InicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/Modificar_Usuario" message="tns:IBD_Modificar_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/Modificar_UsuarioResponse" message="tns:IBD_Modificar_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FILTRARDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/FILTRARDatos" message="tns:IBD_FILTRARDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/FILTRARDatosResponse" message="tns:IBD_FILTRARDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConectarBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/ConectarBD" message="tns:IBD_ConectarBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/ConectarBDResponse" message="tns:IBD_ConectarBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SUMAR">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/SUMAR" message="tns:IBD_SUMAR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/SUMARResponse" message="tns:IBD_SUMAR_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBD" type="tns:IBD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarDatos">
      <soap:operation soapAction="http://tempuri.org/IBD/ListarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDatosZona">
      <soap:operation soapAction="http://tempuri.org/IBD/ListarDatosZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Usuarios">
      <soap:operation soapAction="http://tempuri.org/IBD/Insertar_Usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioSesion">
      <soap:operation soapAction="http://tempuri.org/IBD/InicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Usuario">
      <soap:operation soapAction="http://tempuri.org/IBD/Modificar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FILTRARDatos">
      <soap:operation soapAction="http://tempuri.org/IBD/FILTRARDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConectarBD">
      <soap:operation soapAction="http://tempuri.org/IBD/ConectarBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SUMAR">
      <soap:operation soapAction="http://tempuri.org/IBD/SUMAR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BD">
    <wsdl:port name="BasicHttpBinding_IBD" binding="tns:BasicHttpBinding_IBD">
      <soap:address location="http://localhost:60194/BD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>